.inserat-container{
    position: relative;
    border-color: #000000;
    border-width: 0.01mm;
    border-style: solid;
    height: 400px;
}

.grid{
    display:grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 6em;
    row-gap: 2em;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-back{
    background-color: lightgray;
    padding:0.5em 1em;
    border-radius:20px;
    color: black;
    text-decoration: none;
}