.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.form {
    grid-column: 2;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.textarea {
    width: 90%
}

.title {
    width: 90%
}

.button {
    width: 60%;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
}

.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.zuruckButton {
    background-color: lightgray;
    color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
}

.zuruckButton:hover {
    background-color: darkgray;
}

.erstellenButton {
    position: absolute;
    bottom: 0;
    right: 16%;
    width: 120px;
}

.inlineFields {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.label {
    margin-bottom: 5px;
}

.bild{
    grid-column: 1;
    width: 94%;
    margin: 4%;
}
