.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.form {
    grid-column: 2;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 5%;
    width: 80%;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.button {
    width: 60%;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    bottom: 19%;
}

.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.zuruckButton {
    background-color: lightgray;
    color: black;
    position: absolute;
    right: 0;
    width: 120px;
}

.zuruckButton:hover {
    background-color: grey;
}

.erstellenButton {
    position: absolute;
    right: 16%;
    width: 120px;
}

.erstellenButton:hover {
    background-color: #45a049;
}

.bild {
    grid-column: 1;
    width: 85%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 4%;
}

.pic {
    width: 92%;
    height: 75%;
    object-fit: cover;
    margin-top: 3%;
    margin-left: 2%;
}

.textarea {
    width: 99%;
    height: 80px;
    font-size: 16px;
}

.inlineFields {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    font-size: 19px;
}

.label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
}

.input {
    font-size: 16px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    width: 97%;
    font-size: 16px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.skill {
    width: 215px;
    height: 30px;
}